
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/tp-Lab-1/v16/.suo
.vs/tp-Lab-1/v16/Browse.VC.db
.vs/tp-Lab-1/v16/Browse.VC.opendb
.vs/tp-Lab-1/v16/ipch/AutoPCH/195c2689eba8b5e4/TASK2.ipch
.vs/tp-Lab-1/v16/ipch/AutoPCH/29ac73301e235b15/TASK2.ipch
.vs/tp-Lab-1/v16/ipch/AutoPCH/39f3ab3a7f826675/MAIN2.ipch
.vs/tp-Lab-1/v16/ipch/AutoPCH/5e6adc42260f528d/MAIN1.ipch
.vs/tp-Lab-1/v16/ipch/AutoPCH/71f6a629c4dd2834/TASK4.ipch
.vs/tp-Lab-1/v16/ipch/AutoPCH/7890b3a6743cc31d/MAIN3.ipch
.vs/tp-Lab-1/v16/ipch/AutoPCH/8c86b8b0a1cd5a19/EXE_COMMON.ipch
.vs/tp-Lab-1/v16/ipch/AutoPCH/a47375ec04f5c69c/TASK3.ipch
.vs/tp-Lab-1/v16/ipch/AutoPCH/c35f3c1a03c0542d/MAIN5.ipch
.vs/tp-Lab-1/v16/ipch/AutoPCH/c3b18f34535a5fae/MAIN3.ipch
.vs/tp-Lab-1/v16/ipch/AutoPCH/cb5da344babccccf/TASK1.ipch
.vs/tp-Lab-1/v16/ipch/AutoPCH/d5628879deedb70c/TASK1.ipch
.vs/tp-Lab-1/v16/ipch/AutoPCH/d585d2738223fcec/TASK5.ipch
.vs/tp-Lab-1/v16/ipch/AutoPCH/d7922edf5806a87c/MAIN2 (2).ipch
.vs/tp-Lab-1/v16/ipch/AutoPCH/d9447dbc993d8745/MAIN4.ipch
.vs/tp-Lab-1/v16/ipch/AutoPCH/f73f473890c9fb3f/TESTS.ipch
.vs/tp-Lab-1/v16/ipch/AutoPCH/fd769b1076437a82/DELETE_ARRAY.ipch
.vs/VSWorkspaceState.json
out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-8ea55c2590e8bfc66bbd.json
out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-b28158763e6836f2e64d.json
out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-2ef62f8b48bfd054d0f0.json
out/build/x64-Debug/.cmake/api/v1/reply/index-2020-10-09T14-31-37-0711.json
out/build/x64-Debug/.cmake/api/v1/reply/target-task1-Debug-727241c76a7351c29975.json
out/build/x64-Debug/.cmake/api/v1/reply/target-task1_lib-Debug-7c79937d435e3931395f.json
out/build/x64-Debug/.cmake/api/v1/reply/target-task2-Debug-ddc6cafc56dc47754180.json
out/build/x64-Debug/.cmake/api/v1/reply/target-task2_lib-Debug-bade7df4eb2d25e8b4c8.json
out/build/x64-Debug/.cmake/api/v1/reply/target-task3-Debug-d57f9453b7b923ee0544.json
out/build/x64-Debug/.cmake/api/v1/reply/target-task3_lib-Debug-43029c01e7dd34ea14f4.json
out/build/x64-Debug/.cmake/api/v1/reply/target-task4-Debug-82a88d93378177a9b007.json
out/build/x64-Debug/.cmake/api/v1/reply/target-task4_lib-Debug-f19bda02d874de222c83.json
out/build/x64-Debug/.cmake/api/v1/reply/target-task5-Debug-5d6f44503d0eecc8e5ae.json
out/build/x64-Debug/.cmake/api/v1/reply/target-task5_lib-Debug-d4e10daedeb4c283aa48.json
out/build/x64-Debug/.ninja_deps
out/build/x64-Debug/.ninja_log
out/build/x64-Debug/build.ninja
out/build/x64-Debug/cmake_install.cmake
out/build/x64-Debug/CMakeCache.txt
out/build/x64-Debug/CMakeFiles/3.16.19112601-MSVC_2/CMakeCCompiler.cmake
out/build/x64-Debug/CMakeFiles/3.16.19112601-MSVC_2/CMakeCXXCompiler.cmake
out/build/x64-Debug/CMakeFiles/3.16.19112601-MSVC_2/CMakeDetermineCompilerABI_C.bin
out/build/x64-Debug/CMakeFiles/3.16.19112601-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
out/build/x64-Debug/CMakeFiles/3.16.19112601-MSVC_2/CMakeRCCompiler.cmake
out/build/x64-Debug/CMakeFiles/3.16.19112601-MSVC_2/CMakeSystem.cmake
out/build/x64-Debug/CMakeFiles/3.16.19112601-MSVC_2/CompilerIdC/CMakeCCompilerId.c
out/build/x64-Debug/CMakeFiles/3.16.19112601-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
out/build/x64-Debug/CMakeFiles/3.16.19112601-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
out/build/x64-Debug/CMakeFiles/3.16.19112601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
out/build/x64-Debug/CMakeFiles/3.16.19112601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
out/build/x64-Debug/CMakeFiles/3.16.19112601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
out/build/x64-Debug/CMakeFiles/cmake.check_cache
out/build/x64-Debug/CMakeFiles/CMakeOutput.log
out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
out/build/x64-Debug/CMakeFiles/ShowIncludes/main.obj
out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
out/build/x64-Debug/CMakeFiles/task1.dir/embed.manifest
out/build/x64-Debug/CMakeFiles/task1.dir/intermediate.manifest
out/build/x64-Debug/CMakeFiles/task1.dir/manifest.rc
out/build/x64-Debug/CMakeFiles/task1.dir/manifest.res
out/build/x64-Debug/CMakeFiles/task1.dir/src/main1.cpp.obj
out/build/x64-Debug/CMakeFiles/task1.dir/vc140.pdb
out/build/x64-Debug/CMakeFiles/task1_lib.dir/src/task1.cpp.obj
out/build/x64-Debug/CMakeFiles/task1_lib.dir/task1_lib.pdb
out/build/x64-Debug/CMakeFiles/task2.dir/embed.manifest
out/build/x64-Debug/CMakeFiles/task2.dir/intermediate.manifest
out/build/x64-Debug/CMakeFiles/task2.dir/manifest.rc
out/build/x64-Debug/CMakeFiles/task2.dir/manifest.res
out/build/x64-Debug/CMakeFiles/task2.dir/src/main2.cpp.obj
out/build/x64-Debug/CMakeFiles/task2.dir/vc140.pdb
out/build/x64-Debug/CMakeFiles/task2_lib.dir/src/task2.cpp.obj
out/build/x64-Debug/CMakeFiles/task2_lib.dir/task2_lib.pdb
out/build/x64-Debug/CMakeFiles/task3.dir/embed.manifest
out/build/x64-Debug/CMakeFiles/task3.dir/intermediate.manifest
out/build/x64-Debug/CMakeFiles/task3.dir/manifest.rc
out/build/x64-Debug/CMakeFiles/task3.dir/manifest.res
out/build/x64-Debug/CMakeFiles/task3.dir/src/main3.cpp.obj
out/build/x64-Debug/CMakeFiles/task3.dir/vc140.pdb
out/build/x64-Debug/CMakeFiles/task3_lib.dir/src/task2.cpp.obj
out/build/x64-Debug/CMakeFiles/task3_lib.dir/src/task3.cpp.obj
out/build/x64-Debug/CMakeFiles/task3_lib.dir/task3_lib.pdb
out/build/x64-Debug/CMakeFiles/task4.dir/embed.manifest
out/build/x64-Debug/CMakeFiles/task4.dir/intermediate.manifest
out/build/x64-Debug/CMakeFiles/task4.dir/manifest.rc
out/build/x64-Debug/CMakeFiles/task4.dir/manifest.res
out/build/x64-Debug/CMakeFiles/task4.dir/src/main4.cpp.obj
out/build/x64-Debug/CMakeFiles/task4.dir/vc140.pdb
out/build/x64-Debug/CMakeFiles/task4_lib.dir/src/task4.cpp.obj
out/build/x64-Debug/CMakeFiles/task4_lib.dir/task4_lib.pdb
out/build/x64-Debug/CMakeFiles/task5.dir/embed.manifest
out/build/x64-Debug/CMakeFiles/task5.dir/intermediate.manifest
out/build/x64-Debug/CMakeFiles/task5.dir/manifest.rc
out/build/x64-Debug/CMakeFiles/task5.dir/manifest.res
out/build/x64-Debug/CMakeFiles/task5.dir/src/main5.cpp.obj
out/build/x64-Debug/CMakeFiles/task5.dir/vc140.pdb
out/build/x64-Debug/CMakeFiles/task5_lib.dir/src/task5.cpp.obj
out/build/x64-Debug/CMakeFiles/task5_lib.dir/task5_lib.pdb
out/build/x64-Debug/rules.ninja
out/build/x64-Debug/task1.exe
out/build/x64-Debug/task1.ilk
out/build/x64-Debug/task1.pdb
out/build/x64-Debug/task1_lib.lib
out/build/x64-Debug/task2.exe
out/build/x64-Debug/task2.ilk
out/build/x64-Debug/task2.pdb
out/build/x64-Debug/task2_lib.lib
out/build/x64-Debug/task3.exe
out/build/x64-Debug/task3.ilk
out/build/x64-Debug/task3.pdb
out/build/x64-Debug/task3_lib.lib
out/build/x64-Debug/task4.exe
out/build/x64-Debug/task4.ilk
out/build/x64-Debug/task4.pdb
out/build/x64-Debug/task4_lib.lib
out/build/x64-Debug/task5.exe
out/build/x64-Debug/task5.ilk
out/build/x64-Debug/task5.pdb
out/build/x64-Debug/task5_lib.lib
out/build/x64-Debug/Testing/Temporary/LastTest.log
out/build/x64-Debug/VSInheritEnvironments.txt
.vs/CMake Overview
